.unblur
{
    animation: unblur 2s ease-out forwards;
}
@keyframes unblur
{
    0%
    {
        opacity: 0;
        filter: blur(50px);
    }
    100%
    {
        filter: blur(0px);
        opacity: 1;
    }
}