#reveal
{
    transition-timing-function: ease;
    transition-duration: 1s;
    opacity: 0;
    filter: blur(8px);
    transform: scale(0.8);
}
#reveal:hover
{
    opacity: 0.75;
    filter: blur(0);
    transform: scale(1);
}

.start-size-anim
{
    animation: start-size-anim 8s ease forwards;
}
@keyframes start-size-anim
{
    0%
    {
        opacity: 1;
        transform: rotate(-90deg) scale(1);
    }
    50%
    {
        opacity: 1;
        transform: rotate(-90deg) scale(1);
    }
    55%
    {
        opacity: 2;
        transform: rotate(-90deg) scale(10);
    }
    100%
    {
        opacity: 1;
        transform: rotate(-90deg) scale(1);
    }
}